h1, h3 {
    color: #af2f0e;
        }
 .grad1 {
 background-color: #6f20a3; 
 background-image: linear-gradient(to right,#f5f269, #dd84f8fd);
          }
 .header {
padding: 30px;
text-align: center;
 }
.espaguete {
width: 60%;
border-radius: 40px;
}
 .tarja{
 background-color: #292b16;
 background-image: linear-gradient(to right,#111111, #3f413ffd);
    }
.segoe {
 font-family: segoe print;
    }
.arial {
font-family: arial;
}
nav a{
color: #f79758;
padding: 15px 21px;
 }
 h3 { padding: 20px 30px;
 }