h1, h3 {
    color: #af2f0e;
        }
 .grad1 {
 background-color: #6f20a3; 
 background-image: linear-gradient(to right,#f5f269, #dd84f8fd);
          }
 .header {
padding: 30px;
text-align: center;
 }
.espaguete {
width: 70%;
border-radius: 20px;
}
 .tarja{
 background-color: #292b16;
    }
.segoe {
 font-family: segoe print;
    }
.arial {
font-family: arial;
}
nav a{
color: #e77528;
padding: 15px 21px;
 }
 h3 { padding: 20px 30px;
 }