
 .grad {
 background-color: #000000; 
 background-image: linear-gradient(to right,#021601, #4c6b05fd);
          }
 .title {
padding: 30px;
text-align: center;
font-family: arial;
color: #c0d65e;
font-size: 30;
font-weight: bold;
 }
.cx-mn {
padding: 20px 300px 300px 10px;
margin:10px 100px;
background-color: #163802;
background-image: url(img/mesa.jpg);
border-radius: 2%;
}
.tx-cx {
font-family: 'Times New Roman', Times, serif; 
font-size: 30;
color: #dffc3b;
font-weight: bold;

    }
.prg {
font-family: arial;
font-size: 20;
font-weight: bold;
}
.item-mn a {
color:#ebe987;
}


